.content{
    text-align: center;
    padding-top: 30px;
   
}

.panels2 {
    display: flex;
    flex-wrap: wrap;
    width: 60% 40%;

}

.panel_1 {
    flex: 1;
    background-color: #f0f0f0;
    background-image: url('../IMG/2892186.png');
    background-repeat: no-repeat;
    background-size: 200px 150px;
    background-position: left;
    padding: 20px;
    margin: 10px ;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    height: 118px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.panel_1 h2 {
    color: #333;
}

.panel_1 p {
    color: #444242;
}

/*------------*/
.panel_2 {
    flex: 1;
    background-color: #f0f0f0;
    background-image: url('../IMG/2089614.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 200px 150px;
    padding: 20px;
    margin: 10px ;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 118px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.panel_2 h2 {
    color: #333;
    padding-bottom: 10px;
}

.panel_2 p {
    color: #444242;
}

.panel_3 {
    flex: 1;
    background-color: #f0f0f0;
    background-image: url('../IMG/2418675.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 200px 150px;
    padding: 20px;
    margin: 10px ;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 118px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.panel_4 {
    flex: 1;
    background-color: #f0f0f0;
    background-image: url('../IMG/2122017.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 200px 150px;
    padding: 20px;
    margin: 10px ;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 118px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.panel_5 {
    flex: 1;
    background-color: #f0f0f0;
    background-image: url('../IMG/97350-OKYIEE-393.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 200px 150px;
    padding: 20px;
    margin: 10px ;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 118px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.panel_6 {
    flex: 1;
    background-color: #f0f0f0;
    background-image: url('../IMG/5210980.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 200px 150px;
    padding: 20px;
    margin: 10px ;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 118px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



button{
    width: 100px;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgb(43, 43, 151);
    color: aliceblue;
    border-radius: 8px;
}


.button:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.panel_1:hover,
.panel_2:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
