.content{
    text-align: center;
    padding-top: 30px;
   
}

.panel0 {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px ;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

table{
    width: 1100px;
}

button{
    width: 300px;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgb(43, 43, 151);
    color: aliceblue;
}


.button:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.but{
    padding: 10px;
}